maya-bridge-workflow.json
{"name": "Mayabridge Relay - Save to Assets", "nodes": [{"parameters": {"httpMethod": "POST", "path": "maya", "responseMode": "onReceived", "options": {}}, "id": "1", "name": "Mayawebhook", "type": "n8n-nodes-base.webhook", "typeVersion": 1, "position": [460, 290]}, {"parameters": {"url": "={{ $json.image_url }}", "sendQuery": false, "sendHeaders": false, "sendBody": false, "options": {"response": {"responseFormat": "file"}}}, "id": "2", "name": "Download Image", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [680, 290]}, {"parameters": {"filepath": "/tmp/maya-assets/maya_latest.jpg", "options": {}}, "id": "3", "name": "Save to Assets", "type": "n8n-nodes-base writeFileBinaryFiles", "typeVersion": 1, "position": [900, 290]}, {"parameters": {"note": "Instagram Graph API placeholder - to be implemented later. Use /instagram/image endpoint to push to Instagram.", "text": "Instagram API Placeholder\n\nTo persist to Nginx volume, mount n8n container with: -v /var/www/html/maya-assets:/tmp/maya-assets\nOr adjust the filepath to a mounted volume\n\nFuture implementation:\n- Add HTTP Request node to call Instagram Graph API\n- Use Instagram API endpoint: /instagram/image\n- Authenticate using Instagram Access Token\n- Upload image with caption and metadata\n\nPlace this node as Node 4 if Instagram posting is needed."}, "id": "4", "name": "Instagram API Note", "type": "n8n-nodes-base.notes", "typeVersion": 1, "position": [1120, 290]}], "connections": {"Mayawebhook": {"main": [[{"node": "Download Image", "type": "main", "index": 0}]]}, "Download Image": {"main": [[{"node": "Save to Assets", "type": "main", "index": 0}]]}, "Save to Assets": {"main": []}}, "active": false, "settings": {"executionOrder": "v1"}, "versionId": "1", "meta": {"templateId": "1"}, "id": "maya-bridge-relay", "tags": []}