maya-bridge-workflow.json
{
  "name": "Mayabridge - Auto-post Mayan images to Brightbean",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "maya",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "1",
      "name": "Mayawebhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": ["460", "290"]
    },
    {
      "parameters": {
        "url": "={{ $json.image_url }}",
        "sendQuery": false,
        "sendHeaders": false,
        "sendBody": false,
        "options": {
          "response": {
            "responseFormat": "file"
          }
        }
      },
      "id": "2",
      "name": "Download Image",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": ["680", "290"]
    },
    {
      "parameters": {
        "filepath": "/var/www/html/maya-assets/maya_latest.jpg",
        "options": {}
      },
      "id": "3",
      "name": "Save to Assets",
      "type": "n8n-nodes-base.writeBinaryFiles",
      "typeVersion": 1,
      "position": ["900", "290"]
    },
    {
      "parameters": {
        "url": "http://brightbean:8000/api/posts",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "image_url",
              "value": "http://4.213.114.95/maya_latest.jpg"
            },
            {
              "name": "caption",
              "value": "={{ $json.caption }}"
            }
          ]
        },
        "contentType": "application/json",
        "options": {}
      },
      "id": "4",
      "name": "Post to Brightbean",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": ["1120", "290"]
    }
  ],
  "connections": {
    "Mayawebhook": {
      "main": [
        [
          {
            "node": "Download Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Image": {
      "main": [
        [
          {
            "node": "Save to Assets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save to Assets": {
      "main": [
        [
          {
            "node": "Post to Brightbean",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1",
  "meta": {
    "templateId": "1"
  },
  "id": "maya-bridge",
  "tags": []
}